@using ShoppingList4.Blazor.Pages
@inherits LayoutComponentBase

<PageTitle>ShoppingList4.Blazor</PageTitle>

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <TopBar />

        <MudContainer MaxWidth="MaxWidth.Medium" Class="py-3 px-8">
            @Body
        </MudContainer>
    </main>
</div>


