name: CI
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Keystore File
        run: |
          echo "${{ secrets.KEYSTORE_FILE }}" > shoppinglist4.keystore.asc
          gpg -d --passphrase "${{ secrets.KEYSTORE_PASSWORD }}" --batch shoppinglist4.keystore.asc > shoppinglist4.keystore

      - name: Setup .NET 10 SDK for API
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Setup .NET 9 SDK for MAUI/Blazor
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install .NET MAUI
        run: dotnet workload install maui

      - name: Add DevExpress NuGet Source
        run: |
          dotnet nuget add source "https://nuget.devexpress.com/${{ secrets.DEVEXPRESS_API_KEY_1 }}/api" `
            --name DevExpress `
            --username "any" `
            --password "${{ secrets.DEVEXPRESS_API_KEY_1 }}" `
            --store-password-in-clear-text

      - name: Restore dependencies from NuGet.org and DevExpress
        run: dotnet restore --source "https://api.nuget.org/v3/index.json" --source "https://nuget.devexpress.com/${{ secrets.DEVEXPRESS_API_KEY_1 }}/api"

      - name: Build API
        run: dotnet build ./ShoppingList4.Api/ShoppingList4.Api.csproj --no-restore

      - name: Publish API
        run: dotnet publish ./ShoppingList4.Api/ShoppingList4.Api.csproj -c Release -o '${{ env.DOTNET_ROOT }}\api'

      - name: Upload API artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-artifact
          path: ${{ env.DOTNET_ROOT }}\api

      - name: Build MAUI
        run: dotnet build ./ShoppingList4.Maui/ShoppingList4.Maui.csproj -c Release -f net9.0-android /p:AndroidSigningKeyStore=shoppinglist4.keystore /p:AndroidSigningKeyAlias=ghactionskey /p:AndroidSigningKeyPass="${{ secrets.KEYSTORE_PASSWORD }}" /p:AndroidSigningStorePass="${{ secrets.KEYSTORE_PASSWORD }}" --no-restore

      - name: Upload Maui artifact
        uses: actions/upload-artifact@v4
        with:
          name: maui-artifact
          path: ./**/*.apk
  
  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Prod'
      url: ${{ steps.deploy-to-azure.outputs.webapp-url }}
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: api-artifact

      - name: Azure WebApp deploy
        id: deploy-to-azure
        uses: Azure/webapps-deploy@v2.2.10
        with:
          app-name: 'shopping-list-4-app'
          publish-profile: ${{ secrets.PUBLISH_PROFILE }}